#hero {
  position: relative;
  /* Necessário para o pseudo-elemento funcionar */
  background: url('./assets/bg.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 300px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 200px var(--padding-global);
}

#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  /* Mesmo valor do deslocamento da imagem */
  height: 100%;
  background-color: #020202;
  /* Cor preta para preencher o espaço */
}

#hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  /* Altura do gradiente */
  background: linear-gradient(to top, #080808, rgba(8, 8, 8, 0));
}

#porNome {
  padding: 5em var(--padding-global);
  background-color: #080808;
  background: url('./assets/bg2.webp');
  background-size: cover;
}

.content-porNome {
  justify-content: center;
  align-content: center;
  display: flex;
  padding: 0 !important;
  flex-direction: column;
  gap: 32px;
  z-index: 3;
}

.content-Hero {
  padding: 5em 0 0 0;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
  z-index: 3;
}

.content-Drink {
  justify-content: start;
  align-items: center;
  display: flex;
}

.listPreparo {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content-Drink img {
  width: 80%;
  height: fit-content;
}

#hero>div h4 {
  font-size: 18px;
  font-family: Comfortaa;
}

#hero h2,
#porNome h2 {
  font-family: "Bad Script";
  font-size: 64px;
}

.content-options-selected {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  font-family: Comfortaa;
}

.optionsSelecteds {
  display: flex;
  gap: 16px;
}



.campoBusca {
  border-radius: 20px;
  border: 1px solid #FF0900;
  outline: 1px solid #FF0900;
  font-family: 'Bad Script';
  font-size: 32px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 96px;
  color: white;
  padding: 16px 32px;
  transition: .3s;
  text-transform: capitalize;
}

.campoBusca::placeholder {
  text-transform: none;
}

.campoBusca:focus {
  outline: 1px solid rgba(255, 255, 255, 0.425);
  border: 1px solid rgba(255, 255, 255, 0.425);
}


/* Definindo a animação de fade-in */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.optionsHero,
.optionsNome {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: start;
}

.optionSelected {
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.253);
  width: 120px;
  padding: 16px 8px;
  color: #FA8072;
  display: flex;
  justify-content: center;
  padding: 16px;
  align-items: center;
  animation: fadeIn 0.5s ease-in-out forwards;

}

.option {
  animation: fadeIn 0.5s ease-in-out forwards;
  opacity: 0;
  border-radius: 15px;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Comfortaa";
  font-size: 24px;
  color: white;
  cursor: pointer;
  transition: .5s;
  text-align: center;
  flex: 1 !important;
  padding: 16px;

}


.option:hover {
  background-color: #FF0900;
}





.heroDrinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px 0;
  background-image: url('./assets/bg3.webp');
  background-size: cover;
}

.cardDrink {
  display: flex;
  flex-direction: column;
  background-image: url('./assets/bgCard.webp');
  background-size: cover;
  border-radius: 50px;
}

.swiper {
  z-index: 10;
  width: 100%;
  height: auto;
  /* Garante que o conteúdo dentro seja visível */
  padding: 8em 0 !important;
}

/* Estilizando a scrollbar do Swiper */
.swiper-scrollbar {
  background: #ffffff57 !important;
  /* Cor de fundo */
  border-radius: 10px;
}

.swiper-scrollbar-drag {
  background: red !important;
  /* Cor da barra arrastável */
  border-radius: 50px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.8)  !important;
  transition: transform 0.3s ease-in-out;
  opacity: .45;

}

.swiper-slide-active {
  opacity: 1;
  transform: scale(1.1)  !important;

}



.cardDrink h3,
.cardDrink h2 {
  font-size: 40px;
  font-family: Comfortaa;
}

.cardDrink p,
.cardDrink li {
  font-size: 24px;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.355);
  border-radius: 10px;
  padding: .4em 0;
  font-family: Comfortaa;
  display: flex;
  gap: 8px;
  align-items: center;
}

.cardTop {
  width: 100%;
  height: 420px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: start;
  align-self: center;

}

.divNomeDrink {
  background-color: rgba(0, 0, 0);
  border-radius: 50px 50px 0 0;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 30px 30px;
}



.cardContent {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px 30px 64px 30px;
  height: fit-content;
}

.cardContent div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.NotDrinks {
  height: 600px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.NotDrinks p {
  font-size: 32px;
}
.NotDrinks button {
  font-size: 32px;
  border-radius: 20px;
  padding: .5em 5em;
  width: 100%;
}

.content-NavHeader button {
  font-size: 24px;
  border-radius: 20px;
  font-family: "Comfortaa";
  padding: .5em 3em;
  width: 20%;
  display: flex;
  justify-content: center;
}

.iconDrink {
  width: 40px;
  height: 40px;
  opacity: .3;
  background-color: #020202;
  padding: 10px;
  border-radius: 100px;
}

@media (min-width: 1401px) {}

@media (min-width: 1201px) and (max-width: 1400px) {

  .content-NavHeader button {
    font-size: 20px;
    padding: .5em 3em;
    width: 25%;
  }


  .swiper-slide {
    transform: scale(0.8) translateX(-15px) !important;
  
  }
  
  .swiper-slide-active {
    transform: scale(1.1)  translateX(-10px) !important;
  }

  #hero {
    background-position-x: 150px;
  }

  .heroDrinks h2,
  .heroDrinks .cardContent h3 {
    font-size: 30px;
  }

  .heroDrinks .cardContent li {
    font-size: 20px;
  }

  .cardTop {
    height: 320px;
  }

  #hero h2,
  #porNome h2 {
    font-size: 56px;
  }

  .campoBusca {
    font-size: 28px;
  }

  .option,
  #hero>div h4 {
    font-size: 20px;
  }

}

@media (min-width: 993px) and (max-width: 1200px) {
  .iconDrink {
    width: 35px;
    height: 35px;
  }
  .content-NavHeader button {
    font-size: 20px;
    padding: .5em 3em;
    width: 25%;
  }
  
  .NotDrinks p {
    font-size: 28px;
  }
  .NotDrinks button {
    font-size: 28px;
  }

  .swiper-slide {
    transform: scale(0.8) translateX(0) !important;
  
  }
  
  .swiper-slide-active {
    transform: scale(1.1)  translateX(0) !important;
  }

  .heroDrinks h2,
  .heroDrinks .cardContent h3 {
    font-size: 26px;
  }

  .heroDrinks .cardContent li {
    font-size: 18px;
  }


  .cardTop {
    height: 300px;
  }

  #hero {
    background-position-x: 50px;
  }

  #hero::before {
    width: 50%;
  }

  #hero h2,
  #porNome h2 {
    font-size: 56px;
  }

  .campoBusca {
    font-size: 28px;
  }

  .option,
  #hero>div h4 {
    font-size: 20px;
  }

  .content-Drink img {
    width: 90%;
    height: fit-content;
  }

}

@media (min-width: 768px) and (max-width: 992px) {
  .iconDrink {
    width: 30px;
    height: 30px;
  }
  .content-NavHeader button {
    font-size: 20px;
    padding: .5em 3em;
    width: 25%;
  }
  .NotDrinks p {
    font-size: 22px;
  }
  .NotDrinks button {
    font-size: 22px;
  }
  .swiper-slide {
    transform: scale(0.8) translateX(0) !important;
  
  }
  
  .swiper-slide-active {
    transform: scale(1.1)  translateX(0) !important;
  }

  .heroDrinks h2,
  .heroDrinks .cardContent h3 {
    font-size: 32px;
  }

  .heroDrinks .cardContent li {
    font-size: 20px;
  }

  .cardTop {
    height: 300px;
  }

  #hero {
    background-position-x: -80px;
  }

  #hero::before {
    width: 50%;
  }

  #hero h2,
  #porNome h2 {
    font-size: 56px;
  }

  .campoBusca {
    font-size: 28px;
  }

  .option,
  #hero>div h4 {
    font-size: 20px;
  }

  .content-Drink {
    justify-content: center;
  }

  .content-Drink img {
    width: 60%;
    display: none;
    height: fit-content;
  }

  #hero {
    justify-content: start;
  }

  #porNome {
    justify-content: end;
    padding: 0 var(--padding-global) 10em var(--padding-global);
  }
}

@media (min-width: 632px) and (max-width: 767.9px) {
  .iconDrink {
    width: 30px;
    height: 30px;
  }
  .content-NavHeader button {
    font-size: 20px;
    padding: .5em 3em;
    width: 30%;
  }
  .NotDrinks {
    padding-top: 5em;
    height: 400px;
  }

  .NotDrinks p {
    font-size: 20px;
  }
  .NotDrinks button {
    font-size: 20px;
  }

  .swiper-slide {
    transform: scale(0.8) translateX(0) !important;
  
  }
  
  .swiper-slide-active {
    transform: scale(1.1)  translateX(0) !important;
  }


  .heroDrinks h2,
  .heroDrinks .cardContent h3 {
    font-size: 32px;
  }

  .heroDrinks .cardContent li {
    font-size: 20px;
  }

  .cardTop {
    height: 300px;
  }

  #hero {
    background-position-x: -120px;
  }

  #hero::before {
    width: 100%;
    background-color: #02020271;
  }

  #hero h2,
  #porNome h2 {
    font-size: 40px;
  }

  .campoBusca {
    font-size: 18px;
  }

  .option,
  #hero>div h4 {
    font-size: 18px;
  }

  .content-Drink {
    justify-content: center;
  }

  .content-Drink img {
    width: 60%;
    display: none;
    height: fit-content;
  }

  #hero {
    justify-content: start;
  }

  #porNome {
    justify-content: end;
    padding: 0 var(--padding-global) 10em var(--padding-global);
  }
}

@media (min-width: 100px) and (max-width: 631.9px) {
  .iconDrink {
    width: 30px;
    height: 30px;
  }
  .content-NavHeader button {
    font-size: 16px;
    padding: .3em 3em;
    width: 40%;
  }
  .NotDrinks {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 5em;
    height: 300px;
  }

  .NotDrinks p {
    text-align: center;
    font-size: 18px;
  }
  .NotDrinks button {
    font-size: 18px;
  }

  .swiper-slide {
    transform: scale(0.8)  translateX(0) !important;
  
  }
  
  .swiper-slide-active {
    transform: scale(1.1)  translateX(0) !important;
  }

  .heroDrinks h2,
  .heroDrinks .cardContent h3 {
    font-size: 20px;
  }

  .cardContent {
    gap: 16px;
    padding: 16px 16px 64px 16px;
  }

  .heroDrinks {
    padding: 64px 0;
  }

  .heroDrinks .cardContent li {
    font-size: 14px;
  }

  .cardTop {
    height: 250px;
  }

  #hero {
    background-position-x: -300px;
    padding: 200px var(--padding-global) 100px var(--padding-global);
  }

  #hero::before {
    width: 100%;
    background-color: #02020271;
  }

  #hero h2,
  #porNome h2 {
    font-size: 36px;
  }

  .campoBusca {
    font-size: 18px;
  }

  .option,
  #hero>div h4 {
    font-size: 16px;
  }

  .content-Drink {
    justify-content: center;
  }

  .content-Drink img {
    width: 60%;
    display: none;
    height: fit-content;
  }

  .content-Hero {
    padding: 0;
  }

  #hero {
    justify-content: start;
  }

  #porNome {
    justify-content: end;
    padding: 0 var(--padding-global) 10em var(--padding-global);
  }
}